include ../mixins/form_input

block content
  form(method='POST' action='/users/login')
    +input_required('Email:','email', 'email', user.email, null)
    +input_required('Contraseña:','password', 'password', null, null)
    button(type='submit') Grabar
    a(href='') Recuperar Contraseña
    a(href='') Registrarse
